<nav>
    <ul>
        <li>
            <button>Home</button>
        </li>
        <li><button>About Us</button>
        </li>
        <li>
            <button>FAQ</button>
        </li>
        <% if 1==1 %>
        <li><button>Admin Panel</button></li>
        <% end %>
    </ul>
</nav>